<div class="container">
    <div class="row">
        <div class=" offset-4 col-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title">Review answer</h5>
                        </div>
                    </div>
                    <div class="row g-2" *ngFor="let item of listAnswer">
                        <ng-template [ngIf]="item.type == 'checkbox'">
                            <div class="col-12">
                                <h4>{{item.name}}</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-0" *ngFor="let itm of item.value">
                                        {{ itm }}
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="item.type == 'paragraph'">
                            <div class=" col-12">
                                <h4>{{item.name}}</h4>
                                <p>{{item.value}}</p>
                            </div>

                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>